# macOS
.DS_Store

# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.env
env/
ENV/
venv/
.venv/
backend/venv/
.claude



# Node / frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Build artifacts
.coverage
*.egg-info/
*.pot
*.mo
